@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cords-color: #d52710;
}

html,
body,
body>div:first-child,
div#__next {
    height: 100%;
}

input:focus::placeholder {
    transition: all 0.2s;
    color: transparent;
}

textarea:focus::placeholder {
    transition: all 0.2s;
    color: transparent
}

#title {
    color: #000000;
    background-image: -webkit-linear-gradient(0deg, #000000 0%, #0059ff 45%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
