@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus::placeholder {
    transition: all 0.2s;
    color: transparent;
}

textarea:focus::placeholder {
    transition: all 0.2s;
    color: transparent
}
