@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cords-color: #d52710;
}

input:focus::placeholder {
    transition: all 0.2s;
    color: transparent;
}

textarea:focus::placeholder {
    transition: all 0.2s;
    color: transparent
}
